name: Deploy
on:
  workflow_call:
    inputs:
      environment:
        default: 'production'
        type: string
      image:
        description: 'Image name'
        required: true
        type: string
      k8s_namespace:
        description: 'Kubernetes namespace'
        required: true
        type: string
      helm_file:
        description: 'Helm file'
        required: true
        type: string
      helm_chart_version:
        description: 'Helm chart version'
        type: string
        default: '0.2.13'
    secrets:
      SLACK_WEBHOOK_URL:
        required: true
      KUBE_CONFIG:
        required: true
      KUBE_CONTEXT:
        required: true
permissions:
  id-token: write
  contents: read 
  deployments: write
jobs:
  deploy:
    name: Deploy via Helm to Kubernetes
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure kubectl credentials
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        KUBE_CONTEXT: ${{ secrets.KUBE_CONTEXT }}

    - name: Install helm
      uses: azure/setup-helm@v1
    
    - name: Start deployment
      uses: bobheadxi/deployments@v0.6.2
      id: deployment
      with:
        step: start
        token: ${{ secrets.GITHUB_TOKEN }}
        env: ${{ inputs.environment }}

    - name: Deploy via Helm
      run: |
        helm repo add attopartners https://attopartners.github.io/helmcharts/charts
        helm repo update  
        helm upgrade --install ${{ inputs.k8s_namepsace }} attopartners/atto-app --version ${{ inputs.helm_chart_version }} --values ${{ inputs.helm_file }} -n ${{ inputs.k8s_namepsace }} --set commit=${{ github.event.after }}